@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

.middleline {
  border-left: 2px solid #ced3df;
  height: 30px !important;
  margin-left: 20px;
  margin-right: 20px;
}
